<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.train.dao.TicketMapper">
   <select id="selectTicket" resultType="Ticket" parameterType="String">
        select * from ticket where start like CONCAT('%',#{start},'%') and arrive like CONCAT('%',#{arrive},'%')
   </select>
   <select id="selectTrainNo" parameterType="String" resultType="Ticket">
        select * from ticket where trainNo=#{trainNo}
   </select>
   <update id="updateTicketNum" parameterType="String">
        update ticket set num=num-1 where trainNo=#{trainNo}
   </update>
   <update id="updateTicketNum2" parameterType="String">
        update ticket set num=num+1 where trainNo=#{trainNo}
   </update>
   <select id="selectTicketByTrainNo" parameterType="String" resultType="Ticket">
        select * from ticket where trainNo=#{trainNo}
   </select>
   <select id="selectAllTicket" resultType="Ticket">
        select * from ticket
   </select>
   <delete id="delTicket" parameterType="String">
        delete from ticket where trainNo=#{trainNo}
   </delete>
   <update id="updataTicket" parameterType="Ticket">
        update ticket set start=#{start},arrive=#{arrive},startDate=#{startDate},arriveDate=#{arriveDate},
        time=#{time},num=#{num},price=#{price} where trainNo=#{trainNo}
   </update>
   <insert id="insertTicket" parameterType="Ticket">
        insert into ticket values(#{trainNo},#{start},#{arrive},#{startDate},#{arriveDate},#{time},#{num},#{price})
   </insert>
</mapper>