<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主要用于设置别名和懒加载 -->
<configuration>
     <typeAliases>
         <typeAlias type="cn.train.entity.Passenger" alias="Passenger"/>
         <typeAlias type="cn.train.entity.Ticket" alias="Ticket"/>
         <typeAlias type="cn.train.entity.Order" alias="Order"/>
         <typeAlias type="cn.train.entity.ShowOrder" alias="ShowOrder"/>
         <typeAlias type="cn.train.entity.Admin" alias="Admin"/>
     </typeAliases>
</configuration>